body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.player img {
  width: 250px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
